## Task 1

In [1]:
import mysql.connector as connector

In [6]:
connection = connector.connect(user = "littleLemonUser", password="GreekSalad3",db = "littleLemonDB")

In [7]:
cursor = connection.cursor()

## Task 2

In [8]:
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)

In [9]:
for results in cursor:
    print(results)

('address',)
('bookings',)
('customers',)
('menu',)
('menuitems',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

## Task 3

In [10]:
#Tables requred are customers and orders
promo_query = """
SELECT Customers.FullName, Customers.ContactPhone, Customers.ContactEmail, Orders.TotalCost
FROM Customers LEFT JOIN Orders ON Customers.CustomerID=Orders.CustomerID
WHERE Orders.TotalCost > 60.0;
"""

cursor.execute(promo_query)
print(cursor.column_names)
for result in cursor:
    print(result)

('FullName', 'ContactPhone', 'ContactEmail', 'TotalCost')
('John Johnstone', '47555579', 'John@HungPhone.com', Decimal('101'))
('Jenny Jacobson', '95734567', 'JennyJ@gmail.com', Decimal('202'))
('Qunicy Jackson', '55598734', 'QJ@gmail.com', Decimal('202'))
('John Johnstone', '47555579', 'John@HungPhone.com', Decimal('301'))
('Qunicy Jackson', '55598734', 'QJ@gmail.com', Decimal('152'))